<link rel="stylesheet" href="PC.css">

<header>
  <h1>Product Comparison</h1>
</header>

<header>
  <h1>Product Comparison</h1>
</header>

<main>
  <table class="comparisonTable">
    <thead>
      <tr>
        <th></th>
        {% for i in (1..4) %}
          <th scope="col">
            <div class="collectionSelector">
              <select id="collectionSelector{{ i }}" onchange="updateProductList('productSelector{{ i }}', 'comparisonResult{{ i }}')">
                <option value="" selected disabled>Select a Collection</option>
                {% for collection in collections %}
                  {% if collection.title contains 'IP Security Systems' or collection.title contains 'Analog Security Systems' %}
                    <option value="{{ collection.handle }}">{{ collection.title }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <br>
              <div id="productSelection{{ i }}" style="display: none;">
                <select id="productSelector{{ i }}" onchange="updateComparison('productSelector{{ i }}', 'comparisonResult{{ i }}')">
                </select>
              </div>
              <div id="comparisonResult{{ i }}" class="comparisonResult"></div>
            </div>
          </th>
        {% endfor %}
      </tr>
      <tr>
        <td>Price</td>
      </tr>
    </thead>
  </table>
</main>

<script async src="PC.js"></script>
